@{
 Layout="_ResLayout";
}
@model BookViewModel
@foreach(var books in Model.PagedBooks )
    @await Html.PartialAsync("_BookView",books)
@section PageNumber
{
 <nav aria-label="Page navigation example" class="col-12 mt-3">
        <ul class="pagination">
        <li class="page-item"><a class="page-link" asp-controller="Library" asp-action="SearchBook" asp-route-page="@(Model.CurrentPage==1?"1":"Model.CurrentPage-1")">Previous</a></li>
  @for(int i =1; i<=Model.PagedBooks.PageCount;i++)
  {
    
    <li class="page-item"><a asp-controller="Library" asp-action="SearchBook" asp-route-page="@i" class="page-link @(Model.CurrentPage==i?"bg-warning":"")" >@i</a></li>
    
  }     
        @if(Model.CurrentPage!=Model.PagedBooks.PageCount)
        {
          <li class="page-item"><a class="page-link" asp-controller="Library" asp-action="SearchBook" asp-route-page="@((Model.CurrentPage)+1)">Next</a></li>
        }
        </ul>
    </nav>
}